# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Poetry specific
poetry.lock
*.pdm
poetry.toml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDE / editor folders
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db


scraper.log
output